body{
    text-align: center;
    font-size: 200px;
    color: rgb(62, 214, 62);
    background-color: rgb(230, 225, 225);
}


h1 {
    font-family: sans-serif;
    font-size: 90px;
    text-align: center;
}